@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/home.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
</head>

<body>
    <div class="wrapper container-fluid">
        <div class="header-container">
            <h1>Welcome!</h1>
            <p>Learn anywhere, anytime.</p>
            <a class="btn" id="startnow" asp-action="Login" asp-controller="Home" style="line-height: 2.1;">
                Start Now
            </a>
        </div>
        <div class="col-sm-12 col-md-auto about-us">
            <h1>About Us</h1>
            <p>
                At Collab, we aim to make learning fun and accessible to all.
                Now due to the pandemic, many students in the world cannot attend physical school
                and are forced to go online for their education. Only being able to talk to their teachers
                and peers through a screen, students may feel isolated and disconnected.
            </p>
            <p></p>
            <p>
                Collab aims to change that with our interactive Whiteboard, allowing students and teachers to
                discuss about topics in a new fun way. We also have a forum that allows students to chat and
                ask for help regarding schoolwork as well as share various notes with their peers.
            </p>
            <p></p>
            <p>
                However, we understand that there are also students that struggle with bad or inconsistent connection,
                and so we have made it possible for the students to still be able to access the website even offline.
            </p>
        </div>
        <div class="aspects">
            <div class="col-sm-12 col-md-auto forum">
                <img src="~/images/forum.png" alt="Forum" />
                <h2>Forum</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="col-sm-12 col-md-auto whiteboard">
                <img src="~/images/whiteboard.png" alt="Whiteboard" />
                <h2>Whiteboard</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="col-sm-12 col-md-auto contact-us">
                <img src="~/images/q&a.png" alt="Contact Us" />
                <h2>Questions? Contact Us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
        
    </div>
</body>

