@{
    ViewData["Title"] = "Login Page";
}

<link rel="stylesheet" href="~/css/login.css" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<script>
    function showpassword() {
        var x = document.getElementById("password");
        var eye = document.getElementById("eye");
        if (x.type === "password") {
            x.type = "text";
            eye.style.color = "#5c97ff";

        }
        else {
            x.type = "password";
            eye.style.color = "#495057";

        }
    }

    function showconfirmpassword() {
        var x = document.getElementById("confirmpwd");
        var eye = document.getElementById("confirmeye");
        if (x.type === "password") {
            x.type = "text";
            eye.style.color = "#5c97ff";

        }
        else {
            x.type = "password";
            eye.style.color = "#495057";

        }
    }

    function confirmPassword() {
        var p = document.getElementById("password");
        var c = document.getElementById("confirmpwd");
        if (p == c){
            document.getElementById("message").innerHTML = "*Passwords do not match."
            return false;
        }
    }
</script>

<div class="main-container row">
    <div class="hero-container">
        <h1> making learning for everyone.</h1>
    </div>
    <div class="main-card col-md-12">
        <form method="post" action="~/Home/SignUp" onsubmit="return confirmPassword()">
            <div class="row header-container">

            </div>

            <fieldset class="loginFieldset">
                <div class="form-group">
                    <input class="form-control" type="email" name="txtEmail" placeholder="Email Address" id="email" />
                </div>

                <div class="form-group">
                    <input class="form-control" type="text" name="userName" placeholder="Username" id="username" />
                </div>

                <div class="form-group">
                    <button type="button" id="passwordbutton" onclick="showpassword()"><i class="fa fa-eye" id="eye"></i></button>

                    <input class="form-control" type="password" name="txtPassword" placeholder="Password" id="password" required />
                </div>

                <div class="form-group">
                    <button type="button" id="confirmpwdbtn" onclick="showconfirmpassword()"><i class="fa fa-eye" id="confirmeye"></i></button>

                    <input class="form-control" type="password" name="confirmPassword" placeholder="Confirm Password" id="confirmpwd" required />
                </div>

                <div style="margin-bottom: 10px">
                    <span style="color: red;" id="message">@TempData["Message"]</span>
                </div>

                <div class="form-space"></div>

                <div class="form-group">
                    <input type="submit" value="Sign Up" id="login" class="btn" asp-action="Index" asp-controller="Home" onclick="confirmPassword()"/>
                </div>

                <div class="form-group">
                    <a class="btn" id="signup" asp-action="Login" asp-controller="Home" style="line-height: 2.1;">
                        Log In
                    </a>
                </div>
            </fieldset>
        </form>
    </div>
</div>

